@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%; /* Black */
    --foreground: 0 0% 100%; /* White */
    --card: 234 31% 16%;
    --card-foreground: 210 40% 98%;
    --popover: 234 31% 16%;
    --popover-foreground: 210 40% 98%;
    --primary: 250 45% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 250 45% 45%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 234 31% 25%;
    --input: 234 31% 25%;
    --ring: 0 0% 31%; /* #4f4f4f */
    --radius: 0.8rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
 
  .dark {
    --background: 0 0% 0%; /* Black */
    --foreground: 0 0% 100%; /* White */
    --card: 234 31% 16%;
    --card-foreground: 210 40% 98%;
    --popover: 234 31% 16%;
    --popover-foreground: 210 40% 98%;
    --primary: 250 45% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 250 45% 45%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 234 31% 25%;
    --input: 234 31% 25%;
    --ring: 0 0% 31%; /* #4f4f4f */
    --radius: 0.8rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  html, body, #__next {
    @apply h-full min-h-full;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground flex flex-col;
  }
}

@layer utilities {
  @keyframes float-in-1 {
    0% { transform: translate(-100%, -100%) scale(0.5); opacity: 0; }
    100% { transform: translate(0, 0) scale(1); opacity: 1; }
  }
  @keyframes float-in-2 {
    0% { transform: translate(100%, -100%) scale(0.5); opacity: 0; }
    100% { transform: translate(0, 0) scale(1); opacity: 1; }
  }
  @keyframes float-in-3 {
    0% { transform: translate(-100%, 100%) scale(0.5); opacity: 0; }
    100% { transform: translate(0, 0) scale(1); opacity: 1; }
  }
  @keyframes float-in-4 {
    0% { transform: translate(100%, 100%) scale(0.5); opacity: 0; }
    100% { transform: translate(0, 0) scale(1); opacity: 1; }
  }
  @keyframes float-in-5 {
    0% { transform: translate(0, -150%) scale(0.5); opacity: 0; }
    100% { transform: translate(0, 0) scale(1); opacity: 1; }
  }
  @keyframes float-in-6 {
    0% { transform: translate(0, 150%) scale(0.5); opacity: 0; }
    100% { transform: translate(0, 0) scale(1); opacity: 1; }
  }
   @keyframes text-fade-in {
    0% { opacity: 0; letter-spacing: -0.05em; }
    100% { opacity: 1; letter-spacing: normal; }
  }
  @keyframes float-1 {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }
  @keyframes float-2 {
    0%, 100% { transform: translateY(0) translateX(0); }
    50% { transform: translateY(15px) translateX(-10px); }
  }
  @keyframes float-3 {
    0%, 100% { transform: translateY(0) translateX(0); }
    50% { transform: translateY(-10px) translateX(15px); }
  }

  .animate-text-fade-in { animation: text-fade-in 1.5s cubic-bezier(0.2, 1, 0.2, 1) forwards 0.5s; }

}

@layer components {
  .page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    overflow-y: auto;
  }

  .page-enter {
    transform: translateX(100%);
  }

  .page-enter-active {
    transform: translateX(0);
    transition: transform 500ms ease-in-out;
  }

  .page-exit {
    transform: translateX(0);
  }

  .page-exit-active {
    transform: translateX(-100%);
    transition: transform 500ms ease-in-out;
  }
}
